
.container-register {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
  background-color: #6161;
}

.wrap-register {
  width: 400px;
  background-color: #212121;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-title {
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 30px;
  color: azure;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.labelRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 10px;
}

.inputRegister {
  width: 100%;
  height: 2em;
  font-size: 15px;
  border-radius: 5px;
}

.inputRegister:focus {
  background-color: rgb(216, 213, 213);
  outline: none
}

.registerFildTitle {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

.labelCep {
  width: 100%;
  margin: 10px;
}

.addressTittle {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
}

.inputAddress {
  width: 50%;
  height: 2em;
  font-size: 15px;
  border-radius: 5px;
}

.inputLogradouro {
  width: 80%;
  height: 2em;
  font-size: 15px;
  border-radius: 5px;
}

.inputAddress:focus {
  background-color: rgb(216, 213, 213);
  outline: none;
}

.buttonCep {
  width: 30%;
  flex-wrap: nowrap;
  height: 2.2em;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 30px;
}

.cepInvalido {
  color: rgb(255, 125, 125);
  font-size: 15px;
}

.inputCep::-webkit-outer-spin-button,
.inputCep::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputUf {
  width: 80%;
  height: 2em;
  font-size: 15px;
  border-radius: 5px;
}

.labelEstado {
  display: flex;
  flex-direction: row;
}

.createUserButton {
  width: 30%;
  flex-wrap: nowrap;
  height: 2.2em;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 30px;
}

.inputLogradouro:focus {
  background-color: rgb(216, 213, 213);
  outline: none
}

.inputUf:focus {
  background-color: rgb(216, 213, 213);
  outline: none
}