.ContainerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid gray 1px;
  width: 17%;
  min-width: 15em;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
  background-color: rgba(225, 225, 225, 0.8);
}

.nome {
  margin: 5px;
}

.cardImage {
  width: 80%;
  padding: 10px;
  border-radius: 50%;
}

.cardButtons {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cardButton {
  text-decoration: none;
  padding: 5px;
  border: solid black 1px;
  color: black;
  background-color: white;
  border-radius: 2px;
  margin: 8px 5px 5px 0;
}

.containerAddressCard{
  margin: 10px;
}

.endereco {
  font-size: small;
  margin: 3px;
  color: rgb(71, 71, 71);
}