.ContainerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid gray 1px;
  width: 17%;
  min-width: 15em;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 0.8);
}

.nome {
  margin: 5px;
}

.cardImage {
  width: 80%;
  padding: 10px;
  border-radius: 50%;
}

.cardButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardButton {
  text-decoration: none;
  padding: 10px;
  border: solid black 1px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin: 10px 5px 5px 0;
}

.containerAddressCard{
  margin: 10px;
}

.endereco {
  font-size: small;
  margin: 3px;
  color: rgb(71, 71, 71);
}